@model physioCard.Domain.OTPModel
@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<link rel="stylesheet" href="~/css/formDesign.css" asp-append-version="true" />
<div class="container">
    <div>
        <div>
            <form asp-action="Changepassword" id="myForm" method="post">
                <div class="headline">
                    <h1>Change Password</h1>
                </div>
                @if (ViewBag.Status == false)
                {
                    <span class="text-danger">@ViewBag.error</span>
                    <br />
                }
                <br />
                <div class="form-group">
                    <div class="form-outline">
                        <input type="password" asp-for="oldpassword" id="password1" class="form-control custom3" placeholder=" " />
                        <label class="form-label">Old Password </label>
                    </div>
                </div>
                @*<div class="row">
                <div class="col-4">
                <span asp-validation-for="password" id="errPwd" class="text-danger"></span>
                </div>
                </div>*@
                <br />
                <div class="form-group">
                    <div class="form-outline">
                        <input type="password" asp-for="password" onchange="return chkPwd()" id="password" class="form-control custom3 pwd" placeholder=" " />
                        <label class="form-label">New Password </label>
                    </div>
                    <span asp-validation-for="password" id="errPwd" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <div class="form-outline">
                        <input type="password" id="Confirmpassword" class="form-control custom3" placeholder=" " asp-for="confirmpassword" />
                        <label class="form-label" asp-for="confirmpassword">Confirm New Password </label>
                    </div>
                    <span id="errConfirmPwd" asp-validation-for="confirmpassword" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                    <a asp-action="Changepassword" class="btn btn-secondary">Reset</a>
                </div>
            </form>
        </div>
    </div>

    @{
        if (ViewBag.Status == true)
        {
            <script>
                swal({
                    title: "Success",
                    text: "Password Changed Successfully. Login Again.",
                    type: "success",
                    timer: 1500,
                    showCancelButton: false,
                    showConfirmButton: false
                });
                window.location.replace("Logout");
            </script>
        }
    }
</div>
<script>
    function chkPwd() {
        var pass = document.querySelector(".pwd");
        var val = pass.value;
        document.getElementById("errPwd").style.color = "#FF0000";
        var error = document.getElementById("errPwd");
        if (!val.match("(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])") || val.length != 8) {
            error.innerHTML = "RULES FOR PASSWORD: ";
            if (!val.match("^(?=.*[A-Z])")) {
                error.innerHTML += "ONE UPPER-CASE CHARACTER, ";
            }
            if (!val.match("^(?=.*[a-z])")) {
                error.innerHTML += "ONE LOWER-CASE CHARACTER, ";
            }
            if (!val.match("^(?=.*[0-9])")) {
                error.innerHTML += "ONE NUMBER, ";
            }
            if (!val.match("^(?=.*[^a-zA-Z0-9])")) {
                error.innerHTML += "ONE SPECIAL CHARACTER, ";
            }
            if (val.length != 8) {
                error.innerHTML += "LENGTH MUST BE 8";
            }
            if (val == null) {
                error.innerHTML += "ENTER YOUR PASSWORD";
            }
            //pass.value = '';
            return false;
        }
        else {
            error.innerHTML = '';
            return true;
        }
    }
</script>
