@model physioCard.Domain.OTPModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout1";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<link rel="stylesheet" href="~/css/loginSite.css" asp-append-version="true" />
<div class="container">
    <div class="wrapper">
        <div class="shadow-sm card p-3 mb-5 rounded">
            <div class="headline">
                <h1>Reset Password</h1>
            </div>
            <form asp-action="resetpassword" class="form" method="post">
                <div class="form-group">
                    <div class="form-outline">
                        <input type="password" asp-for="password" onchange="return chkPwd()" id="password" class="form-control pwd" placeholder=" " />
                        <label class="form-label">Password </label>
                    </div>
                    <span asp-validation-for="password" id="errPwd" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <div class="form-outline">
                        <input type="password" id="Confirmpassword" class="form-control" placeholder=" " asp-for="confirmpassword" />
                        <label class="form-label" asp-for="confirmpassword">Confirm Password </label>
                    </div>
                    <span id="errConfirmPwd" asp-validation-for="confirmpassword" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Reset" class="btn text-white btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
@{
    if (ViewBag.Status == true)
    {
        <script>
            swal({
                title: "Success",
                text: "Password Changed Successfully.",
                type: "success",
                timer: 1500,
                showCancelButton: false,
                showConfirmButton: false
            });
            window.location.replace("Login");
        </script>
    }
    if (ViewBag.Status == false)
    {
        <script>
            swal({
                title: "Failed",
                text: "Something Went Wrong. Reset Again",
                type: "error",
                timer: 1500,
                showCancelButton: false,
                showConfirmButton: false
            });
            window.location.replace("sendOTP");
        </script>
    }
}

@*applying css on textboxes*@
@*<style>
    .form-group {
    position: relative;
    }

    .form-control {
    width: 300px;
    }

    .form-label {
    position: absolute;
    top: 0.4rem;
    left: 1.0rem;
    cursor: text;
    }

    .form-control:focus ~ .form-label /*, .form-control:not(:empty) .form-control:not(:focus) ~ .form-label*/, .form-control:not(:placeholder-shown).form-control:not(:focus) ~ .form-label {
    top: -0.7rem;
    font-size: 13px;
    background: white;
    }
    </style>*@

<script>
    function chkPwd() {
        var pass = document.querySelector(".pwd");
        var val = pass.value;
        document.getElementById("errPwd").style.color = "#FF0000";
        var error = document.getElementById("errPwd");
        if (!val.match("(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])") || val.length != 8) {
            error.innerHTML = "RULES FOR PASSWORD: ";
            if (!val.match("^(?=.*[A-Z])")) {
                error.innerHTML += "ONE UPPER-CASE CHARACTER, ";
            }
            if (!val.match("^(?=.*[a-z])")) {
                error.innerHTML += "ONE LOWER-CASE CHARACTER, ";
            }
            if (!val.match("^(?=.*[0-9])")) {
                error.innerHTML += "ONE NUMBER, ";
            }
            if (!val.match("^(?=.*[^a-zA-Z0-9])")) {
                error.innerHTML += "ONE SPECIAL CHARACTER, ";
            }
            if (val.length != 8) {
                error.innerHTML += "LENGTH MUST BE 8";
            }
            if (val == null) {
                error.innerHTML += "ENTER YOUR PASSWORD";
            }
            //pass.value = '';
            return false;
        }
        else {
            error.innerHTML = '';
            return true;
        }
    }
</script>
