@model physioCard.Domain.Patient
@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/formDesign.css" asp-append-version="true" />
<div class="container">
    <div>
        <form class="form" method="post" enctype="multipart/form-data" id="myForm" asp-for="addPatient">
            <div class="headline">
                <h1>Register Patient</h1>
            </div>
            <div class="name-flex">
                <div class="name-fitem1">
                    <div class="form-group">
                        <div class="form-outline">
                            <input asp-for="fname" id="custom" class="form-control" placeholder=" " />
                            <label class="form-label">First Name&nbsp</label>
                        </div>
                    </div>
                </div>
                <div class="name-fitem2">
                    <div class="form-group">
                        <div class="form-outline">
                            <input asp-for="lname" id="custom" class="form-control" placeholder=" " />
                            <label class="form-label">Last Name&nbsp</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="name-flex">
                <div class="name-fitem1">
                    <span asp-validation-for="fname" class="text-danger"></span>
                </div>
                <div class="name-fitem2">
                    <span asp-validation-for="lname" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group" style="background: #fff;">
                <div class="form-outline" id="gender">
                    <label style="color: #000;" class="px-2 gen ">Gender</label><br />
                    <input asp-for="gender" id="fm" class="form-check-input" type="radio" value="Female" />&nbsp;<label for="fm" id="gen">Female</label><br />
                    <input asp-for="gender" id="m" class="form-check-input" type="radio" value="Male" />&nbsp;<label for="m" id="gen">Male</label>
                </div>
                <span asp-validation-for="gender" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <div class="form-outline">
                    <input type="date" asp-for="dob" placeholder=" " class="form-control" id="custom" />
                    <label class="form-label">Date Of Birth&nbsp</label>
                </div>
                <span asp-validation-for="dob" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <div class="form-outline">
                    <textarea asp-for="address" placeholder=" " class="form-control" id="custom" style="height : 50px"></textarea>
                    <label class="form-label">Address&nbsp</label>
                </div>
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <div class="form-outline">
                    <input asp-for="email" id="custom" class="form-control email" placeholder=" " />
                    <label class="form-label">E-mail&nbsp</label>
                </div>
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <div class="form-outline">
                    <input asp-for="contactno" id="custom" class="form-control contactno" placeholder=" " />
                    <label class="form-label">Contact No&nbsp</label>
                </div>
                <span asp-validation-for="contactno" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <div class="form-outline">
<textarea asp-for="chief_complains" placeholder=" " class="form-control" id="custom" style="height : 50px"></textarea>
                    <label class="form-label">Chief Complains&nbsp</label>
                </div>
                <span asp-validation-for="chief_complains" class="text-danger"></span>
            </div>
            <div>
                <span class="text-warning">ENTER CHIEF COMPLAINS COMA( , ) SEPARATED</span>
            </div>
            <br />
            <div class="form-group">
                <div class="form-outline">
<textarea asp-for="medical_History" placeholder=" " class="form-control" id="custom" style="height : 50px"></textarea>
                    <label class="form-label">Medical History&nbsp</label>
                </div>
                <span class="text-warning">ENTER MEDICAL HISTORY COMA( , ) SEPARATED</span>
            </div>
            <br />
            <div class="form-group">
                <div class="form-outline">
                    <input type="date" asp-for="registerdate" placeholder=" " class="form-control" id="custom" />
                    <label class="form-label">Registration Date&nbsp</label>
                </div>
                <span asp-validation-for="registerdate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <div class="form-outline">
                    <input asp-for="photo_img" type="file" id="formFile" onchange="return chkImg()" accept="image/*" class="form-control" />
                    <label class="form-label">Profile Picture&nbsp</label>
                </div>
                <span asp-validation-for="photo_img" id="errImg" class="text-danger">@ViewBag.error</span>
                <div id="prevImg"></div>
            </div>
            <br />
            <div class="form-group">
                <div class="form-outline">
                    <select asp-for="clinicid" class="form-control" id="custom" asp-items=@ViewBag.docclinic>
                        <option value="" selected="selected" disabled="disabled">Please select any clinic</option>
                    </select>
                    <label class="form-label">Clinic&nbsp</label>
                </div>
                <span asp-validation-for="clinicid" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script>

    //file must be of Image type only
    function chkImg() {
        var theFile = document.getElementById('formFile');
        var filePath = theFile.value;
        var fileExt = /(\.jpg|\.jpeg|\.png)$/i;
        if (!fileExt.exec(filePath)) {
            document.getElementById('errImg').innerHTML = "INCLUDE ONLY IMAGE FILE(i.e., .png, .jpg, .jpeg)";
            document.getElementById('errImg').style.color = "#FF0000";
            theFile.value = '';
            return false;
        }
        else {
            if (theFile.files && theFile.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('prevImg').innerHTML = "<br/><img src='" + e.target.result + "' width='150' />";
                };
                reader.readAsDataURL(theFile.files[0]);
            }
        }
    }
</script>