<h4>Dear {patientname}, </h4>
<p>Your appointment/appointments is/are scheduled for physiotherapy session/sessions on below date/dates and timing with <b>Dr. {doctorname}</b></p>
<p>{appointmentdetails}</p>
<h5>Thank You.</h5>