@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@500&display=swap');

table {
    /*table-layout: fixed;*/
    border-collapse: collapse;
    margin: 0 auto;
    background: white;
    border-radius: 25px;
}

.headline1 h1 {
    text-align: left;
    padding-bottom: 10px;
    font-family: 'Spline Sans Mono', monospace;
    color: #0b5788;
    font-weight: 600;
}

.search-item {
    align-self: flex-end;
}

thead tr {
    background: #0b5788;
}

th {
    background: black;
    color: #fff;
    font-weight: 600;
}

.search-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.s1 #myfilter {
    align-self: flex-end;
}

td, th {
    /*padding: 12px;*/
    /*border: 1px solid #ccc;*/
    text-align: center;
}

#myfilter {
    width: 350px;
}

@media(max-width: 768px) {

    .search-flex {
        flex-direction: column;
    }

    .s1 {
        align-self: flex-end;
    }

    table {
        background: #f5f8fb;
    }

    td, tr{
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid black;
    }

    tr + tr {
        margin-top: 1.5em;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        background-color: #f5f8fb;
        text-align: left;
        font-size: 10px;
    }

    td::before {
        content: attr(data-label);
        display: inline-block;
        line-height: 1.5;
        margin-right: -70%;
        width: 100%;
        white-space: nowrap;
    }

    /*dd {
        display: inline;
        margin-right: 5px;
    }*/

    /*br {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }*/
}

@media(max-width: 415px) {

    table, #myfilter {
        width: 300px;
        margin: 0 20px;
    }
}

@media(max-width: 394px) {

    table, #myfilter {
        margin: 0 15px;
    }
}

@media(max-width: 376px) {

    #myfilter {
        width: 300px;
    }

    table, #myfilter {
        margin: 0 10px;
    }
}

@media(max-width: 361px) {

    table, #myfilter {
        margin: 0 7px;
    }
}

@media(max-width: 280px) {

    .headline1 h1 {
        font-size: 20px;
    }

    #myfilter {
        width: 230px;
    }

    table, #myfilter {
        margin: 0 5px;
    }

    td {
        font-size: 10px;
    }
}